

<table>
<tr>
<% count=0 %>
<% @gallery.each do |gallery|%>
<% if (count % 3) == 0%>
</tr>
<tr>
    <% end %>
    <% count+=1 %>
<td>
    <% if gallery.images.attached? %>
    <%= image_tag gallery.images.first, :width=>"200px", :height=>"200px" %>
    <% end %><br><br>
    <strong><%= gallery.name %></strong>
    <br />
    Price : ₹<%= gallery.price %><br />
    Description: <%= gallery.description %><br />
    Category: <%= gallery.category %>
    <br />
    <%= button_to 'Add to cart',line_items_path(:store_id => gallery.id)%>
</td>
<% end %>
</tr>
</table>
